/* The Modal (background) */
.modal {
    margin: 0px;
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    padding-left: 0px; /* Location of the box */
    width: 100%; /*Full width*/
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.75);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: darkgray;
}

.difficult {
    position: absolute; /*it can be fixed too*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    height: 500px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.55);
}

td:hover {
    background-color: yellow;
}

canvas {
    border: 2px solid #ffffff;
}

.first_screen {
    position: absolute; /*it can be fixed too*/
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
}

.level_screen {
    position: absolute; /*it can be fixed too*/
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
}

    .level_screen:hover {
        transform: scale(1.2);
    }
